build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
.build/
build-stamp
configure-stamp
debian/files
debian/*.install
debian/*.debhelper
debian/*.substvars
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
debian/librua-0.postinst
debian/librua-0/
debian/librua-dbg/
debian/librua-dev/
install_manifest.txt
librua.so
librua.so.0
librua.so.0.1.0
rua.pc
