Source: librua
Section: libs
Priority: optional
Maintainer: Jinwoo Nam <jwoo.nam@samsung.com>
Build-Depends: debhelper (>= 5), libsqlite3-dev, libslp-db-util-dev, sqlite3
Standards-Version: 3.7.2

Package: librua-dev
Section: libs
Architecture: any
Depends: librua-0 (= ${Source-Version}), libsqlite3-dev, libslp-db-util-dev, sqlite3
Description: recently used applcation library (development)

Package: librua-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sqlite3
Description: recently used application library (shared object)

Package: librua-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librua-0 (= ${Source-Version})
Description: recently used application library (unstripped)
